<VirtualHost *:80>
  ServerName {{netdata_domain}}
  ServerAlias {{netdata_domain}}
  ProxyPreserveHost On

  ProxyPass / http://localhost:19999/
  ProxyPassReverse / http://localhost:19999/

{% if enable_htpasswd is defined %}
  <Location />
    AuthType Basic
    AuthName "Super Awesome Tool"
    AuthUserFile /var/www/.htpasswd
    Require valid-user
  </Location>
{% endif %}
</VirtualHost>